@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
        font-family: 'Rubik';
        background-color: #0f0f0f;
}

.top {
        color: aqua;
        margin: 1;
        text-align: center;
        border-style: solid;
        border-color: blue;
        background-color: blue;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
}